body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #12172d;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #b0b3c7;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    background-color: #1e223b;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.project h3 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.2em;
    color: #b0b3c7;
    margin-bottom: 20px;
}

.project a {
    display: inline-block;
    margin-top: 15px;
    color: #2b6cb0;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

.project:hover {
    transform: translateY(-5px);
}
